.root {
    margin: 2vh;    
    width: 30vh;
    height: 20vh;
}

.divMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: rgba(49, 66, 96, 0.8);
    width: 100%;
    height: 100%;
}

.titleClass {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 700;
}


.h6Class {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 300;   
}