.root {}

.divStyles {}

.divMain {
    margin: 1em;
    display: flex;
    justify-content: center;
}

.spanMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65em;
}

.divButtons {}

.divText {}