.root {
    width: 100vh;
    .divMain {
        position: relative;
    }

    .divCenter {
        /* Center the content vertically and horizontally */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .divButtons {
        /* Your existing styles for divButtons */
    }

    .modalOverlay {
        /* Blur the background */
        backdrop-filter: blur(8px);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    width:100%;
}

.row {
    display: flex;
    margin-bottom: 2em;
    /* Adjust the margin between rows as needed */
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 2em;
}

.parent-item {
    width: calc(33.33% - 20px);
    /* Adjust the width and margin as needed */
    margin-right: 20px;
    /* Adjust the margin between child components in the same row */
    border: 1px solid white;
    padding: 10px;
}

.spanSnippetsBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4em;
    padding-right: 4em;
    height: 4em;
}

.ProjectWord {
    font-size: 1.5em;
}

.divLeftBar {}

.divRightBar {}

.buttonSearch {
    margin: 0.25em;
}

.buttonAdjust {
    margin: 0.25em;
}

.buttonCreateNewProject {
    margin: 0.25em;
}

.divMain {}


.buttonCreateNewSnippet {
    border: 2px solid #d9d9d9;
    border-radius: .8vh;
    margin: 1vh;
    padding: .5vh;
}

.SnippetWord{
    font-size: 3.5vh;
}