.root {
  width: 100vh;
  
  
}

.divCode{


    
}

.divMain{
    width: 100%;
    
}

.divTop{
    display: flex;
    flex-direction: column;
}

.snippetNameInput{
    border: 2px solid #d9d9d9;
    border-radius: .8vh;
    margin: 1vh;
}

.snippetDescriptionInput{
    border: 2px solid #d9d9d9;
    border-radius: .8vh;
    margin: 1vh;
}

.writeUpInput{
    border: 2px solid #d9d9d9;
    border-radius: .8vh;
    margin: 1vh;
}

.button{
    border: 2px solid #d9d9d9;
    border-radius: .8vh;
    margin: 1vh;
    padding: .5vh;
}

.spanButtons{
    display: flex;
    flex-direction:row-reverse;
}


.divContent{
    display: flex;
    flex-direction: column;
}


.divArray{
    display: flex;
    flex-direction: column;
}

.divExtra{
    display: flex;
    flex-direction:row-reverse;
}