.root {
    width: 100vh;
    height: 90vh; /* Adjust as needed to fit your layout */
    overflow: hidden; /* To ensure it doesn’t overflow the parent container */
  }
  
  .divMain {
    width: 100%;
    height: 100%; /* To take the full height of the root */
    overflow-y: auto; /* Enables vertical scrolling */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .divContent::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  
  .divTop {
    display: flex;
    flex-direction: column;
  }
  
  .snippetNameInput {
    border: 2px solid #d9d9d9;
    border-radius: 0.8vh;
    margin: 1vh;
  }
  
  .snippetDescriptionInput {
    border: 2px solid #d9d9d9;
    border-radius: 0.8vh;
    margin: 1vh;
  }
  
  .writeUpInput {
    border: 2px solid #d9d9d9;
    border-radius: 0.8vh;
    margin: 1vh;
  }
  
  .button {
    border: 2px solid #d9d9d9;
    border-radius: 0.8vh;
    margin: 1vh;
    padding: 0.5vh;
  }
  
  .spanButtons {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .divContent {
    display: flex;
    flex-direction: column;

   
  }
  
  .divArray {
    display: flex;
    flex-direction: column;
  }
  
  .divExtra {
    display: flex;
    flex-direction: row-reverse;
  }
  