.root {
   
}

.divMain {
    display: inline-block;
    border-radius: 1em;
    border: 1px solid black;
   
}

.divButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 12em;
    height: 50em;
}

.divImg {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.imgClass {
    width: 6em;
    height: 6em;
}

.buttonClass {
    margin: 2em;
    padding-left: 1.2em;
}

.mainSpan {
    display: flex;
    width: 100em;
    align-items: left;
   
}

.content {
    max-height: 50em;
    overflow-y: auto;
}